[Unit]
Description=Starts i3lock at suspend time
Before=sleep.target

[Service]
User=mynameismud
Type=forking
Environment=DISPLAY=:0
ExecStartPre=
ExecStart=i3lock-wrapper.sh

[Install]
WantedBy=sleep.target
